gaia-subheader {
  font-family: "Fira Sans OT";
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 8px 30px;
  color: #424242;
  font-size: 14px;
  line-height: 18px;
}

h2 {
  display: flex;
}

h2 .flex {
  position: relative;
  flex-grow: 1;
}

h2 .flex div {
  position: absolute;
  width: 100%;
  border: 1px solid;
  top: 50%;
}

h2 .text {
  flex-shrink: 1;
  position: relative;
  padding: 0 10px;
}

/* -----------------------------------------------------------------
  SKIN: organic
----------------------------------------------------------------- */
gaia-subheader[skin="organic"] {
  border: none;
  background-color: #e7e7e7;
  color: #4d4d4d;
}
